<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="csEventManager" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=aspnet-EventManagerWeb-deeade69-747d-4ed7-86ce-6fa92a104213;AttachDbFilename=|DataDirectory|\aspnet-EventManagerWeb-deeade69-747d-4ed7-86ce-6fa92a104213.mdf;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
        <add name="EventManager.Business.Properties.Settings.EventManagementConnectionString"
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
