<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="EventManager.Business.Properties.Settings.EventManagementConnectionString"
            connectionString="Data Source=.\main;Initial Catalog=EventManagement;Persist Security Info=True;User ID=sa;Password=Bobby911"
            providerName="System.Data.SqlClient" />
        <add name="EventManager.Business.Properties.Settings.EventManagementConnectionString1"
            connectionString="Data Source=.\MAIN;Initial Catalog=EventManagement;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>