<?xml version="1.0"?>
<configuration>

  <location path="Manage.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <connectionStrings>
    <add name="EventManager.Business.Properties.Settings.EventManagementConnectionString"
        connectionString="Data Source=.\main;Initial Catalog=EventManagement;Persist Security Info=True;User ID=sa;Password=Bobby911"
        providerName="System.Data.SqlClient" />
  </connectionStrings>

</configuration>
